* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
}

body {
  position: relative;
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  margin-right: 25px;
}

.logo {
  color: rgb(255, 22, 22);
  margin-right: 10px;
}

main {
  min-height: 100%;
  padding: 1.5rem;
}

.movie-image {
  position: absolute;
  left: 65%;
  top: -35px;
}

.release-date {
  color: gray;
  font-size: .8rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: .5rem;
  width: 6rem;
}

.coming-soon {
  background: red;
  color: #fff;
  font-size: .8rem;
  text-align: center;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  margin-bottom: 5px;
}

.backdrop-image {
  width: 100%;
}

.toplist-number {
  color: #242424;
  font-size: 237px;
  letter-spacing: -37px;
  text-shadow: -1px -1px 5px #ededed, 1px -1px 5px #ededed, -1px 1px 5px #ededed,
    1px 1px 5px #ededed;
  z-index: -1;
}

.my-list {
  padding: 1rem;
}

input {
  padding: .5rem;
  width: 300px;
  margin-right: 1rem;
}

@media screen and (max-width: 1024px) {
  main {
    padding: .5rem;
  }

  input {
    padding: .2rem;
    width: 180px;
    margin: .5rem;
  }

  .mobile-logo {
    position: sticky;
    top: 2%;
    color: rgb(255, 22, 22);
    font-size: 1.75rem;
    z-index: 99999;
  }

  .hamburger-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .mobile-header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #141414;
    z-index: 999;
  }

  .toplist-number {
    font-size: 110px;
    letter-spacing: -18px;
  }

  .movie-image {
    left: 40%;
    width: 100px !important;
  }

  .overlay {
    position: fixed;
    top: 5%;
    left: 0; 
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transform: translateX(-100%);
    transition: transform .3s ease;

    .logo {
      display: none;
    }
  }

  .visible {
    transform: translateX(0%);
  }
}