* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
}

body {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  margin-right: 25px;
}

.logo {
  color: red;
  margin: 20px;
}

main {
  padding: 1.5rem;
}

.movie-image {
  position: absolute;
  left: 65%;
  top: 0;
  box-shadow: -5px 5px 5px #000000;
  width: 100%;
  z-index: 1;
}

.backdrop-image {
  width: 100%;
}

.toplist-number {
  color: #242424;
  font-size: 270px;
  letter-spacing: -65px;
  text-shadow: -1px -1px 5px #ededed, 1px -1px 5px #ededed, -1px 1px 5px #ededed,
    1px 1px 5px #ededed;
  z-index: -1;
}

.my-list {
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  main {
    padding: .5rem;
  }

  .toplist-number {
    font-size: 150px;
    letter-spacing: -35px;
  }

  .movie-image {
    left: 43%;
    width: 100px;
  }
}