@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
  --footer-height: 50px;
}

body {
  position: relative;
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  margin: 1rem;
}

li {
  margin-right: 25px;
}

.logo {
  color: rgb(255, 22, 22);
  margin-right: 10px;
}

main {
  height: 100%;
  min-height: 100vh;
}

.movie-image {
  position: absolute;
  left: 65%;
  top: 0;
}

.release-date {
  color: gray;
  font-size: .8rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: .5rem;
  width: 6rem;
}

.coming-soon {
  background: red;
  color: #fff;
  font-size: .8rem;
  text-align: center;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  margin-bottom: 5px;
}

.backdrop-image {
  width: 100%;
}

.carousel-header {
  font-size: 1.8rem;
  border-left: 5px solid red;
  border-radius: 3px;
  padding-left: 10px;
  margin-top: 10px;
}

.toplist-number {
  color: #242424;
  font-size: 237px;
  letter-spacing: -37px;
  text-shadow: -1px -1px 1px #ededed, 1px -1px 1px #ededed, -1px 1px 1px #ededed,
    1px 1px 1px #ededed;
  filter: drop-shadow(-7px -8px 3px #393535);
}

.my-list {
  min-height: 100vh;
  padding: 1rem;
  display: flex;

  & .list-is-empty {
    margin: auto;
  }
}

input {
  background: gray;
  color: #fff;
  width: 300px;
  border: none;
  padding: .5rem 1rem;

  &::placeholder {
    color: #dedede;
  }
}

.search-results {
  position: fixed;
  top: 60px;
  background: #68788d45;
  backdrop-filter: blur(10px);
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-y: scroll;
  border-bottom: 1px solid gray;
  transition: all 1s ease;
}

.recently-viewed-item {
  margin-right: 1rem !important; 

  img {
    width: 15vw;
  }
}

div:where(.swal2-container) div:where(.swal2-popup) {
  background: #3a3a3a !important;
  color: #fff !important;
  box-shadow: -6px 6px 5px #000000;
  z-index: 9999999999999999;
}

.toast {
  box-shadow: -6px 6px 5px #000000 !important;
}

.no-scrollbar {
  scrollbar-width: none;
}

@media screen and (max-width: 1024px) {
  h2 {
    margin: 0 1rem;
  }

  input {
    padding: .2rem;
    width: 160px;
  }

  .mobile-logo {
    position: sticky;
    top: 2%;
    color: rgb(255, 22, 22);
    font-size: 1.6rem;
    z-index: 99999;
  }

  .hamburger-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .mobile-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141414;
    width: 100%;
    padding: .5rem;
    z-index: 99;
  }

  .mobile-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem;
  }

  .toplist-number {
    font-size: 110px;
    letter-spacing: -18px;
  }

  .movie-image {
    top: -10px;
    left: 40%;
    width: 100px !important;
  }

  .recently-viewed-item {
    margin-right: 1rem !important; 
  
    img {
      width: 25vw;
    }
  }

  .overlay {
    position: fixed;
    top: 65px;
    left: 0; 
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    transform: translateX(-100%);
    transition: transform .3s ease;

    .logo {
      display: none;
    }
  }
  .visible {
    transform: translateX(0%);
  }
}